<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Completed text:</strong>
  <%= @quest.completed_text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quest.status %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
