<p id="notice" class="notice"><%= notice %></p>


<%= link_to 'Edit', edit_quest_path(@quest), :class => "notice pull-right", :role => "button"  %>
<%= link_to 'Back', quests_path, :class => "default pull-right", :role => "button"  %>

<h1><%= @quest.title %></h1>

<h3>Quest description</h3>
<%= raw RDiscount.new(@quest.description, :smart, :footnotes ).to_html %>

<h3>Completed</h3>
<p><%= raw @quest.completed_text %></p>
