<h1>Listing Questions</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @random_questions.each do |random_question| %>
      <tr>
        <td><%= random_question.question %></td>
        <td><%= link_to 'Show', random_question %></td>
        <td><%= link_to 'Edit', edit_random_question_path(random_question) %></td>
        <td><%= link_to 'Destroy', random_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Random question', new_random_question_path, :role => 'button', :class => "notice" %>
