<%= link_to ' Edit', edit_random_question_path(@random_question), :class => "notice pull-right fa fa-pencil-square-o", :role => "button" %>
<%= link_to ' Back', random_questions_path, :class => "default pull-right fa fa-chevron-left", :role => "button" %>


<h1><%= @random_question.question %></h1>


<p>
  <strong>A.</strong>
  <%= @random_question.answer_1 %>
</p>

<p>
  <strong>B.</strong>
  <%= @random_question.answer_2 %>
</p>

<p>
  <strong>C.</strong>
  <%= @random_question.answer_3 %>
</p>

<p>
  <strong>D.</strong>
  <%= @random_question.answer_4 %>
</p>

<p>
  <strong>Correct answer:</strong>
  <%= @random_question.correct_answer %>
</p>
