<%= form_for(@mini_quest) do |f| %>
  <% if @mini_quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mini_quest.errors.count, "error") %> prohibited this mini_quest from being saved:</h2>

      <ul>
      <% @mini_quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :completed_text %><br>
    <%= f.text_area :completed_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
