<h1>Listing Mini Quests</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Quest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mini_quests.each do |mini_quest| %>
      <tr>
        <td><%= link_to mini_quest.title, mini_quest %></td>
        <td><%= link_to 'Show', mini_quest %></td>
        <td><%= link_to 'Edit', edit_mini_quest_path(mini_quest) %></td>
        <td><%= link_to 'Destroy', mini_quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mini quest', new_mini_quest_path, :role => "button", :class => "notice" %>
