<%= link_to ' Edit', edit_mini_quest_path(@mini_quest), :class => "notice pull-right fa fa-pencil-square-o", :role => "button" %>
<%= link_to ' Back', mini_quests_path, :class => "default pull-right fa fa-chevron-left", :role => "button" %>

<h1><%= @mini_quest.title %></h1>

<h3>Quest description</h3>
<%= raw RDiscount.new(@mini_quest.description, :smart, :footnotes ).to_html %>

<h3>Completed</h3>
<%= raw RDiscount.new(@mini_quest.completed_text, :smart, :footnotes ).to_html %>
