<p id="notice" class="notice"><%= notice %></p>

<%= link_to 'Edit', edit_mini_quest_path(@mini_quest), :class => "notice pull-right", :role => "button" %>
<%= link_to 'Back', mini_quests_path, :class => "default pull-right", :role => "button" %>

<h1><%= @mini_quest.title %></h1>

<h3>Quest description</h3>
<p><%= raw @mini_quest.description %></p>

<h3>Completed</h3>
<p><%= raw @mini_quest.completed_text %></p>
