<!DOCTYPE html>
<html>
<head>
  <title>Mindful Meerkats | Json Services</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="/assets/Markdown.Converter.js"></script>
  <script type="text/javascript" src="/assets/Markdown.Sanitizer.js"></script>
  <script type="text/javascript" src="/assets/Markdown.Editor.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



<div id="layout">
    <!-- Menu toggle -->
    <a href="#" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/">MM</a>

            <ul>
              <% if current_user %>
                <li><%= link_to 'Mini Quests', mini_quests_path %></a></li>
                <li><%= link_to 'Quests', quests_path %></a></li>
                <li><%= link_to 'Quiz', quizzes_path %></a></li>

                <li class="menu-item-divided">
                    <a href="https://bitbucket.org/mindfulmeerkats/json-service/issues/new" target="_blank">Issues</a>
                </li>
                <li><%= link_to "Create User", create_user_path %></li>
                <li class="log_out"><%= link_to "Log out", log_out_path %></li>
              <% else %>
                <li class="log_in"><%= link_to "Log in", log_in_path %></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div id="main">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>


      <%= yield %>
    </div>
</div>



</body>
</html>
